# Module 1

#### Problem 1.1
####### Import the csv file of the stock of your choosing using 'pd.read_csv()' function into a dataframe. Shares of a company can be offered in more than one category. The category of a stock is indicated in the ‘Series’ column. If the csv file has data on more than one category, the ‘Date’ column will have repeating values. To avoid repetitions in the date, remove all the rows where 'Series' column is NOT 'EQ'. Analyze and understand each column properly. You'd find the head(), tail() and describe() functions to be immensely useful for exploration. You're free to carry out any other exploration of your own.
###### Importing Libraries

In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import pandas as pd, numpy as np
import matplotlib.pyplot as plt, seaborn as sns
from matplotlib import style
import datetime as dt
%matplotlib inline

##### Reading the data set

In [3]:
data=pd.read_csv("C:/Users/Lenovo/Desktop/ML INTERNSHIP/HINDUNILVR.csv")
data.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,HINDUNILVR,EQ,15-May-17,980.20,981.3,988.85,974.55,982.5,983.25,980.72,734446,7.202888e+08,32976,420159,57.21
1,HINDUNILVR,EQ,16-May-17,983.25,983.0,1002.50,982.05,999.5,1000.40,994.00,1503815,1.494798e+09,39717,669576,44.53
2,HINDUNILVR,EQ,17-May-17,1000.40,1004.0,1012.00,991.10,1009.0,1009.40,1003.84,1999387,2.007056e+09,63210,996054,49.82
3,HINDUNILVR,EQ,18-May-17,1009.40,1008.0,1009.00,983.00,987.5,990.25,997.56,2690943,2.684374e+09,78098,983594,36.55
4,HINDUNILVR,EQ,19-May-17,990.25,1000.0,1022.75,1000.00,1004.1,1008.00,1009.97,3059815,3.090316e+09,57429,1523108,49.78

In [4]:
data.tail()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
490,HINDUNILVR,EQ,07-May-19,1668.90,1678.80,1710.9,1672.5,1697.50,1697.50,1700.33,2212617,3.762183e+09,83971,1248858,56.44
491,HINDUNILVR,EQ,08-May-19,1697.50,1697.50,1697.5,1675.0,1690.15,1688.70,1686.13,1243338,2.096428e+09,105328,849935,68.36
492,HINDUNILVR,EQ,09-May-19,1688.70,1680.10,1713.0,1677.0,1702.45,1703.75,1695.24,1204995,2.042757e+09,96629,821111,68.14
493,HINDUNILVR,EQ,10-May-19,1703.75,1708.95,1709.0,1678.5,1686.00,1687.45,1694.39,1000696,1.695567e+09,98364,581135,58.07
494,HINDUNILVR,EQ,13-May-19,1687.45,1692.00,1717.0,1688.7,1699.10,1702.00,1705.60,1160287,1.978984e+09,55814,653294,56.30

###### Removing the rows which donot have series as EQ

In [5]:
stock_data = data[data.Series== 'EQ']
stock_data

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,HINDUNILVR,EQ,15-May-17,980.20,981.30,988.85,974.55,982.50,983.25,980.72,734446,7.202888e+08,32976,420159,57.21
1,HINDUNILVR,EQ,16-May-17,983.25,983.00,1002.50,982.05,999.50,1000.40,994.00,1503815,1.494798e+09,39717,669576,44.53
2,HINDUNILVR,EQ,17-May-17,1000.40,1004.00,1012.00,991.10,1009.00,1009.40,1003.84,1999387,2.007056e+09,63210,996054,49.82
3,HINDUNILVR,EQ,18-May-17,1009.40,1008.00,1009.00,983.00,987.50,990.25,997.56,2690943,2.684374e+09,78098,983594,36.55
4,HINDUNILVR,EQ,19-May-17,990.25,1000.00,1022.75,1000.00,1004.10,1008.00,1009.97,3059815,3.090316e+09,57429,1523108,49.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490,HINDUNILVR,EQ,07-May-19,1668.90,1678.80,1710.90,1672.50,1697.50,1697.50,1700.33,2212617,3.762183e+09,83971,1248858,56.44
491,HINDUNILVR,EQ,08-May-19,1697.50,1697.50,1697.50,1675.00,1690.15,1688.70,1686.13,1243338,2.096428e+09,105328,849935,68.36
492,HINDUNILVR,EQ,09-May-19,1688.70,1680.10,1713.00,1677.00,1702.45,1703.75,1695.24,1204995,2.042757e+09,96629,821111,68.14
493,HINDUNILVR,EQ,10-May-19,1703.75,1708.95,1709.00,1678.50,1686.00,1687.45,1694.39,1000696,1.695567e+09,98364,581135,58.07
494,HINDUNILVR,EQ,13-May-19,1687.45,1692.00,1717.00,1688.70,1699.10,1702.00,1705.60,1160287,1.978984e+09,55814,653294,56.30

In [6]:
stock_data.tail()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
490,HINDUNILVR,EQ,07-May-19,1668.90,1678.80,1710.9,1672.5,1697.50,1697.50,1700.33,2212617,3.762183e+09,83971,1248858,56.44
491,HINDUNILVR,EQ,08-May-19,1697.50,1697.50,1697.5,1675.0,1690.15,1688.70,1686.13,1243338,2.096428e+09,105328,849935,68.36
492,HINDUNILVR,EQ,09-May-19,1688.70,1680.10,1713.0,1677.0,1702.45,1703.75,1695.24,1204995,2.042757e+09,96629,821111,68.14
493,HINDUNILVR,EQ,10-May-19,1703.75,1708.95,1709.0,1678.5,1686.00,1687.45,1694.39,1000696,1.695567e+09,98364,581135,58.07
494,HINDUNILVR,EQ,13-May-19,1687.45,1692.00,1717.0,1688.7,1699.10,1702.00,1705.60,1160287,1.978984e+09,55814,653294,56.30

In [7]:
### Checking the number of rows and columns
stock_data.shape

(494, 15)

##### Problem 1.2
####### Calculate the maximum, minimum and mean price for the last 90 days. (price=Closing Price unless stated otherwise)

In [8]:
MAX_price_90 =stock_data.tail(90)['Close Price'].max()
MAX_price_90

1839.05

In [9]:
MIN_price_90=stock_data.tail(90)['Close Price'].min()
MIN_price_90

1659.1

In [10]:
MEAN_price_90=stock_data.tail(90)['Close Price'].mean()
MEAN_price_90

1739.6955555555562

###### Problem 1.3
####### Analyse the data types for each column of the dataframe. Pandas knows how to deal with dates in an intelligent manner. But to make use of Pandas functionality for dates, you need to ensure that the column is of type 'datetime64(ns)'. Change the date column from 'object' type to 'datetime64(ns)' for future convenience. See what happens if you subtract the minimum value of the date column from the maximum value.

In [11]:
### Data-types for each column
stock_data.dtypes

Symbol                     object
Series                     object
Date                       object
Prev Close                float64
Open Price                float64
High Price                float64
Low Price                 float64
Last Price                float64
Close Price               float64
Average Price             float64
Total Traded Quantity       int64
Turnover                  float64
No. of Trades               int64
Deliverable Qty             int64
% Dly Qt to Traded Qty    float64
dtype: object

###### Changing the data type of Date column from object to DateTime64[ns]

In [12]:
stock_data['Date'] = pd.to_datetime(stock_data['Date'])
print(stock_data['Date'].dtype)

datetime64[ns]

In [13]:
Min_Date= (stock_data["Date"]).min()
Max_date= (stock_data["Date"]).max()
Range= Max_date- Min_Date
Range

Timedelta('728 days 00:00:00')

##### Problem 1.4
####### In a separate array , calculate the monthwise VWAP (Volume Weighted Average Price ) of the stock. 
( VWAP = sum(price*volume)/sum(volume) )

In [14]:
stock_data['Month'] = pd.DatetimeIndex(stock_data['Date']).month
stock_data['Year'] = pd.DatetimeIndex(stock_data['Date']).year
stock_data['VWAP'] = ((stock_data['Total Traded Quantity'])*stock_data['Close Price']).cumsum() / (stock_data['Total Traded Quantity']).cumsum()
stock_data_VWAP = stock_data[['Month','Year','VWAP']]
stock_data_VWAP

     Month  Year         VWAP
0        5  2017   983.250000
1        5  2017   994.772529
2        5  2017  1001.673993
3        5  2017   997.237115
4        5  2017  1000.534181
..     ...   ...          ...
490      5  2019  1493.746449
491      5  2019  1494.119209
492      5  2019  1494.506954
493      5  2019  1494.802870
494      5  2019  1495.170674

[494 rows x 3 columns]

In [15]:
#### Considering the last value of VWAP from each group
(stock_data_VWAP.groupby(['Month','Year'])).last()

                   VWAP
Month Year
1     2018  1203.381283
      2019  1455.323871
2     2018  1216.778340
      2019  1470.446869
3     2018  1224.552043
      2019  1482.868547
4     2018  1236.222757
      2019  1491.664014
5     2017  1026.507250
      2018  1266.101871
      2019  1495.170674
6     2017  1064.193554
      2018  1293.225582
7     2017  1093.515359
      2018  1331.337593
8     2017  1111.726648
      2018  1355.107028
9     2017  1133.683360
      2018  1377.475388
10    2017  1148.894254
      2018  1390.695006
11    2017  1164.697379
      2018  1405.626994
12    2017  1181.581429
      2018  1434.666977

##### Problem 1.5
####### Write a function to calculate the average price over the last N days of the stock price data where N is a user defined parameter. Write a second function to calculate the profit/loss percentage over the last N days.
Calculate the average price AND the profit/loss percentages over the course of last -
1 week, 2 weeks, 1 month, 3 months, 6 months and 1 year.

In [16]:
def AVG_price(N):
    return (stock_data['Average Price'].tail(N).sum())/N
print("Average prices for last N days :")
print("For last 1 week",AVG_price(5))
print("For last 2 weeks",AVG_price(10))
print("For last 1 month",AVG_price(20))
print("For last 3 months",AVG_price(60))
print("For last 6 months",AVG_price(120))
print("For last 1 year",AVG_price(240))

Average prices for last N days :
For last 1 week 1696.3380000000002
For last 2 weeks 1708.205
For last 1 month 1718.5759999999998
For last 3 months 1721.2298333333335
For last 6 months 1751.9123333333334
For last 1 year 1697.8202916666667

In [17]:
def profit_loss(N):
    diff = stock_data['Close Price'].tail(N).iloc[N-1] - stock_data['Close Price'].tail(N).iloc[0]
    if diff < 0 :
        loss = abs(diff)
        loss_percent = (loss/stock_data['Close Price'].tail(N).iloc[N-1])*100
        return loss_percent
    if diff > 0 :
        profit = diff
        profit_percent = (profit/stock_data['Close Price'].tail(N).iloc[N-1])*100
        return profit_percent
print("Loss/Profit percentage for last N days are as follows:")
print("Last 1 week",profit_loss(5))
print("Last 2 weeks",profit_loss(10))
print("Last 1 month",profit_loss(20))
print("Last 3 months",profit_loss(60))
print("Last 6 months",profit_loss(120))
print("Last 1 year",profit_loss(240))

Loss/Profit percentage for last N days are as follows:
Last 1 week 0.26439482961222094
Last 2 weeks 2.6645123384253764
Last 1 month 0.4612220916568689
Last 3 months 6.039952996474733
Last 6 months 0.23795534665099616
Last 1 year 7.502937720329027

###### Problem 1.6
####### Add a column 'Day_Perc_Change' where the values are the daily change in percentages i.e. the percentage change between 2 consecutive day's closing prices. Instead of using the basic mathematical formula for computing the same, use 'pct_change()' function provided by Pandas for dataframes. You will note that the first entry of the column will have a ‘Nan’ value. Why does this happen? Either remove the first row, or set the entry to 0 before proceeding.

In [18]:
stock_data['Day_Perc_Change'] = stock_data['Close Price'].pct_change()
stock_data['Day_Perc_Change']
## the 1st value in 'Day_Perc_Change' is NaN because it is the base value based on which we will start calculating the 1st percentage change for the Close Prices.

0           NaN
1      0.017442
2      0.008996
3     -0.018972
4      0.017925
         ...
490    0.017137
491   -0.005184
492    0.008912
493   -0.009567
494    0.008622
Name: Day_Perc_Change, Length: 494, dtype: float64

In [19]:
## We replace the NaN value in the 1st row of "Day_Perc_Change" column by 0
stock_data['Day_Perc_Change']=stock_data["Day_Perc_Change"].fillna(0)
stock_data['Day_Perc_Change']

0      0.000000
1      0.017442
2      0.008996
3     -0.018972
4      0.017925
         ...
490    0.017137
491   -0.005184
492    0.008912
493   -0.009567
494    0.008622
Name: Day_Perc_Change, Length: 494, dtype: float64

##### Problem 1.7
####### Add another column 'Trend' whose values are:
'Slight or No change' for 'Day_Perc_Change' in between -0.5 and 0.5
'Slight positive' for 'Day_Perc_Change' in between 0.5 and 1
'Slight negative' for 'Day_Perc_Change' in between -0.5 and -1
'Positive' for 'Day_Perc_Change' in between 1 and 3
'Negative' for 'Day_Perc_Change' in between -1 and -3
'Among top gainers' for 'Day_Perc_Change' in between 3 and 7
'Among top losers' for 'Day_Perc_Change' in between -3 and -7
'Bull run' for 'Day_Perc_Change' >7
'Bear drop' for 'Day_Perc_Change' <-7

In [20]:
conditions = [
    (stock_data['Day_Perc_Change'] >= -0.5) & (stock_data['Day_Perc_Change'] <= 0.5),
    (stock_data['Day_Perc_Change'] >= 0.5) & (stock_data['Day_Perc_Change'] <= 1),
    (stock_data['Day_Perc_Change'] <= -0.5) & (stock_data['Day_Perc_Change'] >= -1),
    (stock_data['Day_Perc_Change'] >= 1) & (stock_data['Day_Perc_Change'] <= 3),
    (stock_data['Day_Perc_Change'] <= -1) & (stock_data['Day_Perc_Change'] >= -3),
    (stock_data['Day_Perc_Change'] >= 3) & (stock_data['Day_Perc_Change'] <= 7),
    (stock_data['Day_Perc_Change'] <= -3) & (stock_data['Day_Perc_Change'] >= -7),
    (stock_data['Day_Perc_Change'] > 7),
    (stock_data['Day_Perc_Change'] < -7)]
    
choices = ['Slight or No change','Slight positive', 'Slight negative','Positive', 'Negative','Among top gainers','Among top gainers','Bull run','Bear drop']

stock_data['Trend'] = np.select(conditions, choices, default='null')
stock_data

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,VWAP,Day_Perc_Change,Trend
0,HINDUNILVR,EQ,2017-05-15,980.20,981.30,988.85,974.55,982.50,983.25,980.72,734446,7.202888e+08,32976,420159,57.21,5,2017,983.250000,0.000000,Slight or No change
1,HINDUNILVR,EQ,2017-05-16,983.25,983.00,1002.50,982.05,999.50,1000.40,994.00,1503815,1.494798e+09,39717,669576,44.53,5,2017,994.772529,0.017442,Slight or No change
2,HINDUNILVR,EQ,2017-05-17,1000.40,1004.00,1012.00,991.10,1009.00,1009.40,1003.84,1999387,2.007056e+09,63210,996054,49.82,5,2017,1001.673993,0.008996,Slight or No change
3,HINDUNILVR,EQ,2017-05-18,1009.40,1008.00,1009.00,983.00,987.50,990.25,997.56,2690943,2.684374e+09,78098,983594,36.55,5,2017,997.237115,-0.018972,Slight or No change
4,HINDUNILVR,EQ,2017-05-19,990.25,1000.00,1022.75,1000.00,1004.10,1008.00,1009.97,3059815,3.090316e+09,57429,1523108,49.78,5,2017,1000.534181,0.017925,Slight or No change
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490,HINDUNILVR,EQ,2019-05-07,1668.90,1678.80,1710.90,1672.50,1697.50,1697.50,1700.33,2212617,3.762183e+09,83971,1248858,56.44,5,2019,1493.746449,0.017137,Slight or No change
491,HINDUNILVR,EQ,2019-05-08,1697.50,1697.50,1697.50,1675.00,1690.15,1688.70,1686.13,1243338,2.096428e+09,105328,849935,68.36,5,2019,1494.119209,-0.005184,Slight or No change
492,HINDUNILVR,EQ,2019-05-09,1688.70,1680.10,1713.00,1677.00,1702.45,1703.75,1695.24,1204995,2.042757e+09,96629,821111,68.14,5,2019,1494.506954,0.008912,Slight or No change
493,HINDUNILVR,EQ,2019-05-10,1703.75,1708.95,1709.00,1678.50,1686.00,1687.45,1694.39,1000696,1.695567e+09,98364,581135,58.07,5,2019,1494.802870,-0.009567,Slight or No change
494,HINDUNILVR,EQ,2019-05-13,1687.45,1692.00,1717.00,1688.70,1699.10,1702.00,1705.60,1160287,1.978984e+09,55814,653294,56.30,5,2019,1495.170674,0.008622,Slight or No change

##### Problem 1.8
####### Find the average and median values of the column 'Total Traded Quantity' for each of the types of 'Trend'.
{Hint : use 'groupby()' on the 'Trend' column and then calculate the average and median values of the column 'Total Traded Quantity'}

In [21]:
(stock_data['Trend']=='Slight or No change').count()
## Hence, it can be seen seen that all the rows in the data set are 'Slight or No change' in the Trend column.

494

In [22]:
stock_data['Total Traded Quantity'].groupby(stock_data.Trend).mean()

Trend
Slight or No change    1.323141e+06
Name: Total Traded Quantity, dtype: float64

In [23]:
stock_data['Total Traded Quantity'].groupby(stock_data.Trend).median()

Trend
Slight or No change    1201017
Name: Total Traded Quantity, dtype: int64

##### Problem 1.9
####### SAVE the dataframe with the additional columns computed as a csv file week2.csv.

In [24]:
stock_data.to_csv("C:/Users/Lenovo/Desktop/ML INTERNSHIP/week2.csv")